.developer {
  padding-top: 55px;

  &__info {
    display: flex;
    align-items: start;
    gap: 50px;

    @include mobile {
      @include flex-column-all-center;
    }
  }
  &__content {
    @include mobile {
      @include flex-column-all-center;
    }
  }
  &__repost {
    @include flex-all-between;
    gap: 30px;
    max-width: 400px;
    padding-bottom: 20px;

    svg path {
      fill: var(--neutral-color-100);
    }

    @include mobile {
      max-width: 200px;
    }

    &-text {
      font-weight: 500;
      line-height: 162%;
      color: var(--neutral-color-100);

      @include small-tablet {
        display: none;
      }
    }
  }

  &-span {
    font-weight: 400;
    line-height: 150%;
    color: var(--neutral-color-150);
  }

  &-author {
    font-weight: 600;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);
    padding: 30px 0;
  }

  &-descr {
    font-weight: 400;
    line-height: 178%;
    color: var(--neutral-color-100);
    padding: 30px 0 150px;

    @include mobile {
      text-align: center;
    }
  }
}
