<section class="agency">
  <div class="container">
    <h2 class="agency__top heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="agency__content">
      <div class="agency__content-left">
        <p class="agency__content-info text-p-subtitle">
          Our digital agency helps clients develop, implement and maintain
          successful digital marketing strategies across all channels. Also work
          with you to build your website and create online businesses that grow.
        </p>
      </div>
      <div class="agency__content-right">
        <a class="content__link-dark" href="/coca/contact.html#get-started">
          <img
            height="162"
            width="162"
            src="/assets/image/agency-get-in-touch-dark.png"
            alt=""
            class="content__img-dark"
          />
        </a>
        <a class="content__link-white" href="/coca/contact.html#get-started">
          <img
            height="162"
            width="162"
            src="/assets/image/agency-get-in-touch-white.png"
            alt=""
            class="content__img-white"
          />
        </a>
      </div>
    </div>
    <div class="swiper agency__slider">
      <div class="agency__slider-btns">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25.0001 13.3334L31.6667 20L25.0001 26.6667M15.0001 26.6667L8.33341 20L15.0001 13.3334"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide agency__article">
          <img
            width="502"
            height="629"
            loading="lazy"
            src="/assets/image/agency-slide-1-img.jpg"
            alt="Man typing on laptop and writing on notebook"
          />
        </div>
        <div class="swiper-slide agency__article">
          <img
            width="502"
            height="370"
            loading="lazy"
            src="/assets/image/agency-slide-2-img.jpg"
            alt="Man proposed his idea"
          />
          <h5 class="agency-header heading-h5">What we believe in</h5>
          <p class="agency-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a href="#">
            <button class="agency-btn button-form">See Details -></button>
          </a>
        </div>
        <div class="swiper-slide agency__article">
          <img
            class="agency__article-img"
            loading="lazy"
            src="/assets/image/agency-slide-3-img.jpg"
            alt="Back woman"
          />
        </div>
        <div class="swiper-slide agency__article">
          <img
            width="502"
            height="370"
            loading="lazy"
            src="/assets/image/agency-slide-2-img.jpg"
            alt="Man proposed his idea"
          />
          <h5 class="agency-header heading-h5">What we believe in</h5>
          <p class="agency-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a href="#">
            <button class="agency-btn button-form">See Details -></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
