<section class="meeting">
  <div class="container">
    <div class="meeting__content">
      <h1 class="meeting__content-title heading-h2">
        Meet our team of creators, designers, and world-class problem solvers
      </h1>
      <p class="meeting__content-info text-p-medium">
        To become the company that customers want, it takes a group of
        passionate people. Get to know the people who lead
      </p>
    </div>
    <div class="swiper meeting__slider">
      <div class="meeting__slider-btns">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25.0001 13.3334L31.6667 20L25.0001 26.6667M15.0001 26.6667L8.33341 20L15.0001 13.3334"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide meeting__article">
          <img
            width="379"
            height="434"
            src="assets/image/meeting-slide-1.jpg"
            alt=""
          />
          <p class="meeting__article-text text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide meeting__article">
          <img src="assets/image/meeting-slide-2.jpg" alt="" />
          <p class="meeting__article-text text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide meeting__article">
          <img src="assets/image/meeting-slide-3.jpg" alt="" />
          <p class="meeting__article-text text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide meeting__article">
          <img
            width="379"
            height="434"
            src="assets/image/meeting-slide-1.jpg"
            alt=""
          />
          <p class="meeting__article-text text-p-medium">Founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
</section>
