.design {
  padding: 115px 0 130px;
  background-color: var(--black-bg-color);

  @include small-tablet {
    padding: 50px 0 40px;
  }

  &__wrapper {
    @include flex-all-between;
    @include tablet {
      flex-direction: column;
    }
    gap: 15px;
  }

  &__two-blocks {
    max-width: 50%;
    @include tablet {
      max-width: 100%;
    }
  }

  &__content {
    @include flex-column-all-center;
    gap: 35px;

    &-img {
      @include tablet {
        max-width: 100%;
      }
    }

    &-title {
      font-weight: 600;
      line-height: 120%;
      color: #fff;

      @include small-desktop {
        font-size: 32px;
      }
      @include tablet {
        text-align: center;
      }
    }

    &-text {
      padding-bottom: 160px;
      font-weight: 500;
      line-height: 178%;
      color: #7e8492;

      @include tablet {
        padding-bottom: 80px;
        text-align: center;
      }
      @include mobile {
        padding-bottom: 40px;
      }
    }
  }
}

#underline {
  text-decoration: underline;
}
