.mission {
  position: relative;
  padding: 130px 0 100px;

  &::before {
    content: '';
    top: 50px;
    left: 181px;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.2;
    filter: blur(220px);
    position: absolute;

    @include mini-desktop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      top: 20px;
      left: 40px;
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 525px;
    height: 525px;
    filter: blur(180px);
    background: var(--success-color-70);

    @include mini-desktop {
      width: 325px;
      height: 325px;
    }

    @include small-tablet {
      width: 225px;
      height: 225px;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
    padding-bottom: 45px;
  }
  &__text {
    font-weight: 600;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);
    padding-bottom: 130px;

    @include small-tablet {
      padding-bottom: 20px;
    }

    & br {
      @include mini-desktop {
        display: none;
      }
    }
  }
}

.links {
  &__list {
    @include flex-align-center;
    justify-content: flex-start;
    gap: 50px;

    @include tablet {
      flex-wrap: wrap;
      gap: 25px;
    }

    @include small-tablet {
      display: none;
    }

    &-item {
      & a {
        font-weight: 500;
        line-height: 150%;
        color: var(--neutral-color-150);
        transition: color var(--transition);
        white-space: nowrap;

        &:hover {
          color: var(--neutral-color-100);
        }
      }
    }
  }
}
