<section class="design" id="design">
  <div class="container">
    <div class="design__wrapper">
      <div class="design__two-blocks">
        <div class="design__content">
          <img
            loading="lazy"
            width="584"
            height="751"
            class="design__content-img"
            src="./assets/image/design-1-img.jpg"
            alt=""
          />
          <h1 class="design__content-title heading-h3">
            How we perform long-running tasks using AWS services
          </h1>
          <p class="design__content-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
        <div class="design__content">
          <img
            loading="lazy"
            width="584"
            height="507"
            class="design__content-img"
            src="./assets/image/design-2-img.jpg"
            alt=""
          />
          <h1 class="design__content-title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h1>
          <p class="design__content-text text-p-medium">
            Make alternatives or other options for the design we are making. For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </div>
      </div>
      <div class="design__two-blocks">
        <div class="design__content">
          <img
            loading="lazy"
            width="584"
            height="507"
            class="design__content-img"
            src="./assets/image/design-3-img.jpg"
            alt=""
          />
          <h1 class="design__content-title heading-h3" id="underline">
            How to ask when doing User Research
          </h1>
          <p class="design__content-text text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
        <div class="design__content">
          <img
            loading="lazy"
            width="584"
            height="751"
            class="design__content-img"
            src="./assets/image/design-4-img.jpg"
            alt=""
          />
          <h1 class="design__content-title heading-h3">
            Webflow Break the Coding Barrier
          </h1>
          <p class="design__content-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
