<section class="mission">
  <div class="container">
    <h1 class="mission__title heading-h1">Activity & Updates</h1>
    <p class="mission__text text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <div class="mission__bottom">
      <nav class="links mission__links">
        <ul class="links__list">
          <li class="links__list-item">
            <a href="#view-all" class="nav__link text-p-default">View all</a>
          </li>
          <li class="links__list-item">
            <a href="#design" class="nav__link text-p-default">Design</a>
          </li>
          <li class="links__list-item">
            <a href="#articles" class="nav__link text-p-default">Articles</a>
          </li>
          <li class="links__list-item">
            <a href="#product" class="nav__link text-p-default">Product</a>
          </li>
          <li class="links__list-item">
            <a href="#software-development" class="nav__link text-p-default">
              Software Development
            </a>
          </li>
          <li class="links__list-item">
            <a href="#customer-success" class="nav__link text-p-default">
              Customer Success
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
