<section class="software-development" id="software-development">
  <!-- <div class="container"> -->
  <div class="swiper software-development__slider">
    <div class="software-development__slider-btns">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25.0001 13.3334L31.6667 20L25.0001 26.6667M15.0001 26.6667L8.33341 20L15.0001 13.3334"
          stroke="#7E8492"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide software-development__article">
        <img
          width="515"
          height="428"
          loading="lazy"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-1-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Practice making User Flow
        </h3>
        <p class="software-development__article-text text">
          In this article, we'll cover how to create user flows
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          width="515"
          height="428"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-2-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Overview of the Design Principles
        </h3>
        <p class="software-development__article-text text">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          width="379"
          height="428"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-3-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Using Grid in website design
        </h3>
        <p class="software-development__article-text text">
          Andi: "What's the grid like?" Toni: “Like below…”
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-1-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Practice making User Flow
        </h3>
        <p class="software-development__article-text text">
          In this article, we'll cover how to create user flows
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          width="515"
          height="428"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-2-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Overview of the Design Principles
        </h3>
        <p class="software-development__article-text text">
          What are Design Principles?… To understand design principles, we first
          discuss the principles.
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-1-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Practice making User Flow
        </h3>
        <p class="software-development__article-text text">
          In this article, we'll cover how to create user flows
        </p>
      </div>
      <div class="swiper-slide software-development__article">
        <img
          loading="lazy"
          class="software-development__article-img"
          src="./assets/image/software-development-slide-1-img.jpg"
          alt=""
        />
        <div class="software-development__article-head text-p-small">
          <div class="software-development__article-date">
            Published in Insight
            <time datetime="2024-01-30">Jan 30, 2021</time>
          </div>
          <address class="software-development__article-author">
            by : Albert Sans
          </address>
        </div>
        <h3 class="software-development__article-title heading-h5">
          Practice making User Flow
        </h3>
        <p class="software-development__article-text text">
          In this article, we'll cover how to create user flows
        </p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
