.builders {
  &__content {
    @include flex-all-between;
    border-top: solid 1px var(--neutral-color-30);
    border-bottom: solid 1px var(--neutral-color-30);

    @include mini-desktop {
      flex-direction: column;
    }

    &-left {
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
      max-width: 480px;

      @include mini-desktop {
        text-align: center;
        padding-top: 90px;
      }

      @include small-tablet {
        padding-top: 45px;
      }
    }

    &-info {
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-100);
      max-width: 522px;
      padding: 90px 0;

      @include mini-desktop {
        text-align: center;
        padding-top: 30px;
      }
      @include small-tablet {
        padding-bottom: 45px;
      }
    }
  }
}
