.join {
  padding-bottom: 165px;

  @include tablet {
    padding-bottom: 70px;
  }

  &__content {
    @include flex-justify-between;

    @include tablet {
      padding-bottom: 5px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-title {
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
      max-width: 626px;

      @include mini-desktop {
        max-width: 500px;
      }
    }
    &-descr {
      font-weight: 500;
      line-height: 178%;
      color: #7e8492;
      max-width: 506px;

      @include mini-desktop {
        max-width: 400px;
      }
      @include tablet {
        padding-top: 40px;
      }
    }
  }
}
